﻿
@{
    Layout = null;
}

@Styles.Render("~/Content/css")
<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message">Tente novamente a operação</div>
        <div class="button-place">
            <a href="@Url.Action("Index","Home")" class="btn btn-default btn-lg waves-effect">Home</a>
        </div>
    </div>
</body>