﻿@model LocacaoOnline.Dominio.Entidades.Cacamba


<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                @Model.Nome
                <small>
                    Status:
                    @if (Model.StatusCacamba == true)
                    {
                        <label class="font-overline col-cyan">Disponível</label>
                    }
                    else
                    {
                        <label class="font-overline col-orange">Indisponível</label>
                    }
                </small>
            </h2>
            <h5>
                Preço : @Model.Preco.ToString("c")
            </h5>
            <br />
            @if (Model.StatusCacamba == false)
            {
                if (TempData["mensagemStatusCacamba"] != null)
                {
                    <small class="font-bold col-pink">
                        Está Caçamba está temporariamente Indisponível
                    </small>
                }
            }
            <div class="header-dropdown m-r--5">
                <div class="image">
                    <img src="~/img/cacamba.png" width="48" height="48" alt="Cacamba">
                </div>
            </div>
        </div>
        <div class="body">
            <div class="form-group">
                @Model.Descricao
            </div>
            @using (Html.BeginForm("Adicionar", "Locacao"))
            {
                @Html.HiddenFor(x => x.CacambaId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <button type="submit" class="btn bg-indigo btn-circle-lg waves-effect waves-circle waves-float" value="add">
                    <i class="fa fa-cart-arrow-down fa-2x"></i>
                </button>
            }
        </div>

    </div>
</div>

