﻿@using LocacaoOnline.Web.Util
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aluguel Caçambas Online</title>
    <link rel="shortcut icon" href="~/favico.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxEpeH0s5ChwNpq3S6_8zJpREUBO9clYg&callback=initMap"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .fa-2x {
            font-weight: normal;
            font-style: normal;
            font-size: 20px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
        }
    </style>
</head>

<body class="theme-red" onload="initialize()">
    <!-- Page Loader -->
    <div class="page-loader-wrapper" style="display: none;">
        <div class="loader">
            <div class="md-preloader pl-size-md">
                <svg viewBox="0 0 75 75">
                    <circle cx="37.5" cy="37.5" r="33.5" class="pl-red" stroke-width="4"></circle>
                </svg>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars" style="display: block;"></a>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Locação de Caçamba Online <i class="material-icons">business</i></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- Carrinho -->
                    @Html.Action("Resumo", "Locacao")
                    <!-- #END# Carrinho -->
                    <!-- Tasks -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="fa fa-flag fa-2x"></i>
                            <span class="label-count">3</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Manual</li>
                            <li class="body">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 254px;">
                                    <ul class="menu tasks" style="overflow: hidden; width: auto; height: 254px;">
                                        <li>                                            
                                            <a href="~/VSdoc/index.html" target="_blank" class="waves-effect waves-block">
                                                <h4>                                 
                                                    Manual do Desenvolvedor
                                                </h4>
                                            </a>
                                        </li>
                                        <li>                                                  
                                            <a href="~/Manuals/Manual_do_Funcionario.pdf" target="_blank" class="waves-effect waves-block">
                                                <h4>
                                                    Manual do Funcionário
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Manuals/Manual_do_Administrador_Master.pdf" target="_blank" class="waves-effect waves-block">
                                                <h4>
                                                    Manual do Administrador_Master
                                                </h4>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- #END# Tasks -->
                    <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="fa fa-ellipsis-v fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/img/user.png" width="48" height="48" alt="User">
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @if(SessionManager.IsAuthenticated == true)
                        {
                            @SessionManager.FuncionarioLogado.Nome
                        }
                        else
                        {
                            Response.Redirect("~/Account/Login");
                        }
                        @*@if (Request.IsAuthenticated)
                        {
                            @Html.Encode(User.Identity.Name)
                        }
                        else
                        {
                            Response.Redirect("~/Account/Login");
                        }*@
                    </div>
                    <div class="email">
                    </div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="fa fa-cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="@Url.Action("LogOff","Account")"
                                   class="waves-effect waves-block">
                                    <i class="fa fa-sign-in"> </i> Sair do Sistema
                                </a>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 391px;">
                    <ul class="list" style="height: 391px; overflow: hidden; width: auto;">
                        <li class="header">PAINEL DE NAVEGAÇÃO</li>
                        <li>
                            <a href="@Url.Action("Index","Home")" class="waves-effect waves-block">
                                <i class="fa fa-home fa fa-2x"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block">
                                <i class="fa fa-folder fa-2x"></i>
                                <span>Locação</span>
                            </a>
                            <ul class="ml-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("Index","Locacao")" class="waves-effect waves-block col-blue">
                                        <i class="fa fa-certificate fa-2x"></i>
                                        <span class="col-blue">Pendentes</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Concluida","Locacao")" class="waves-effect waves-block col-green">
                                        <i class="fa fa-check fa-2x"></i>
                                        <span class="col-green">Concluida</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Cancelada","Locacao")" class="waves-effect waves-block col-amber">
                                        <i class="fa fa-ban fa-2x"></i>
                                        <span class="col-amber">Cancelada</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Cliente")" class="waves-effect waves-block">
                                <i class="fa fa-user-plus fa-2x"></i>
                                <span>Cliente</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Cacamba")" class="waves-effect waves-block">
                                <i class="fa fa-thumb-tack fa-2x"></i>
                                <span>Caçamba</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Funcionario")" class="waves-effect waves-block">
                                <i class="fa fa-users fa-2x"></i>
                                <span>Funcionário</span>
                            </a>
                        </li>


                    </ul><div class="slimScrollBar" style="width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px; height: 134.816px; background: rgba(0, 0, 0, 0.498039);"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                </div>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    © 2016 <a href="javascript:void(0);">Alysson Bormann</a>.
                </div>
                <div class="version">
                    <b>Versão: </b> 2.0.1
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 559px;">
                        <ul class="demo-choose-skin" style="height: 559px; overflow: hidden; width: auto;">
                            <li data-theme="red" class="active">
                                <div class="red"></div>
                                <span>Red</span>
                            </li>
                            <li data-theme="pink">
                                <div class="pink"></div>
                                <span>Pink</span>
                            </li>
                            <li data-theme="purple">
                                <div class="purple"></div>
                                <span>Purple</span>
                            </li>
                            <li data-theme="deep-purple">
                                <div class="deep-purple"></div>
                                <span>Deep Purple</span>
                            </li>
                            <li data-theme="indigo">
                                <div class="indigo"></div>
                                <span>Indigo</span>
                            </li>
                            <li data-theme="blue">
                                <div class="blue"></div>
                                <span>Blue</span>
                            </li>
                            <li data-theme="light-blue">
                                <div class="light-blue"></div>
                                <span>Light Blue</span>
                            </li>
                            <li data-theme="cyan">
                                <div class="cyan"></div>
                                <span>Cyan</span>
                            </li>
                            <li data-theme="teal">
                                <div class="teal"></div>
                                <span>Teal</span>
                            </li>
                            <li data-theme="green">
                                <div class="green"></div>
                                <span>Green</span>
                            </li>
                            <li data-theme="light-green">
                                <div class="light-green"></div>
                                <span>Light Green</span>
                            </li>
                            <li data-theme="lime">
                                <div class="lime"></div>
                                <span>Lime</span>
                            </li>
                            <li data-theme="yellow">
                                <div class="yellow"></div>
                                <span>Yellow</span>
                            </li>
                            <li data-theme="amber">
                                <div class="amber"></div>
                                <span>Amber</span>
                            </li>
                            <li data-theme="orange">
                                <div class="orange"></div>
                                <span>Orange</span>
                            </li>
                            <li data-theme="deep-orange">
                                <div class="deep-orange"></div>
                                <span>Deep Orange</span>
                            </li>
                            <li data-theme="brown">
                                <div class="brown"></div>
                                <span>Brown</span>
                            </li>
                            <li data-theme="grey">
                                <div class="grey"></div>
                                <span>Grey</span>
                            </li>
                            <li data-theme="blue-grey">
                                <div class="blue-grey"></div>
                                <span>Blue Grey</span>
                            </li>
                            <li data-theme="black">
                                <div class="black"></div>
                                <span>Black</span>
                            </li>
                        </ul><div class="slimScrollBar" style="width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 0px; z-index: 99; right: 1px; height: 347.201px; background: rgba(0, 0, 0, 0.498039);"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        @RenderBody()
    </section>

    <!-- Jquery Core Js -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
