﻿@model LocacaoOnline.Web.ViewModel.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>- Login -</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="login-page ls-closed">

    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()

        <div class="login-box">
            <div class="logo">
                <a>Acesso ao Sistema</a>
                <small>Área reservada apenas para administradores</small>
            </div>
            <div class="card">
                <div class="body">
                    <div id="sign_in">
                        <div class="msg">Faça o login para começar a sua sessão</div>
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "error form-label" })
                        </div>
                        @if (TempData["isValidar"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span class="fa fa-close fa-2x"></span>&nbsp;&nbsp; @TempData["isValidar"]
                            </div>
                        }
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user-circle"></i>
                            </span>
                            <div class="form-line">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Login" })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-expeditedssl"></i>
                            </span>
                            <div class="form-line">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Senha" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-pink waves-effect" type="submit">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")


</body>
</html>
