﻿@using LocacaoOnline.Web.HtmlHelpers
@model LocacaoOnline.Web.Models.CacambaModel
@{
    ViewBag.Title = "Cacambas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row clearfix">
    <div class="container-fluid">
        <div class="block-header">
            @if (TempData["error"] != null)
            {

                <div class="col-md-12">
                    <div class="">
                        <p class="font-bold col-pink">
                            <span class="fa fa-ban"></span> @TempData["error"]
                            &nbsp;&nbsp;&nbsp;
                            <a href="@Url.Action("Item","Locacao")"><span class="fa fa-shopping-cart"> </span> Ver item(s) adicionado</a>
                        </p>
                    </div>
                </div>


            }
        </div>
    </div>

    @foreach (var c in Model.Cacambas)
    {
        @Html.Partial("_CacambaDetalhes", c)
    }

</div>


