﻿@model LocacaoOnline.Web.ViewModel.RecebimentoViewModel
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #map_content {
        height: 400px;
        margin: 10px 0;
    }
</style>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <p class="font-bold col-cyan">
                    <a href="@Url.Action("Index","Locacao")"><span class="fa fa-angle-double-left"></span> Voltar</a>
                </p>
            </div>
            <div class="body">
                <form action="" method="post" id="form_route">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="header bg-blue-grey">
                                    <h2>
                                        Informações
                                    </h2>
                                </div>
                                <div class="body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cliente:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.Cliente.Nome
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Status:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.StatusLocacao
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Emissão:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.DataLocacao.ToShortDateString()
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Entrega:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.DataEntrega.ToShortDateString()
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Endereço:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.Endereco
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>CEP:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.Cep
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Bairro:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.Bairro
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Número:</label>
                                                <br />
                                                <small>
                                                    @ViewBag.Locacao.Numero
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Complemento:</label>
                                        <br />
                                        <small>
                                            @ViewBag.Locacao.Complemento
                                        </small>
                                    </div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>
                                                <small>Caçamba</small>
                                            </th>
                                            <th>
                                                <small>Quantidade</small>
                                            </th>
                                            <th>
                                                <small>Preço</small>
                                            </th>
                                        </tr>
                                        @foreach (var item in ViewBag.Locacao.Item)
                                        {
                                            <tr>
                                                <td>
                                                    <small>@item.Cacamba.Nome</small>

                                                </td>
                                                <td>
                                                    <small>@item.Quantidade</small>
                                                </td>
                                                <td>
                                                    <small>@item.Cacamba.Preco</small>
                                                </td>
                                            </tr>

                                        }
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td class="text-left">
                                                    <small><b>Juros/Dias</b></small>
                                                </td>
                                                <td class="text-left">
                                                    @if (Model.DiasAtraso > 0)
                                                    {
                                                        <small>
                                                            <b>@ViewBag.Locacao.JurosPorDia %</b>, em <b>@Model.DiasAtraso</b>   Dias
                                                        </small>
                                                    }
                                                    else
                                                    {
                                                        <small>
                                                            <b>@ViewBag.Locacao.JurosPorDia %</b>
                                                        </small>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="text-left">
                                                    <small>
                                                        <b>Total:</b>
                                                    </small>
                                                </td>
                                                <td class="text-left">
                                                    <small>
                                                        <b>
                                                            @Model.ValorTotalJurosDias.ToString("c")
                                                        </b>
                                                    </small>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <small>
                                                        Como a conta é feita:
                                                        PrecoCaçambas + (PrecoCacambas * (juros/100) * Dias)
                                                    </small>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input type="hidden" id="Endereco" size="50" value="@ViewBag.Locacao.Endereco" />
                            <input type="hidden" id="Numero" size="50" value="@ViewBag.Locacao.Numero" />
                            <input type="hidden" id="Bairro" value="@ViewBag.Locacao.Bairro" size="50" />
                            <input type="submit" value="Ver rota do endereço" class="btn btn-info" />


                            <div id="map_content"></div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/google")
@Styles.Render("~/Content/google")
@section Scripts {
    <script src="~/Scripts/map.js"></script>
}