﻿@model LocacaoOnline.Web.ViewModel.LocacaoViewModel
@{
    ViewBag.Title = "EditarLocacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@using (Html.BeginForm("EditarLocacao", "Locacao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.StatusLocacaoViewModel)
    @Html.HiddenFor(model => model.LocacaoId)
    @Html.HiddenFor(model => model.ClienteId)

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Concluir Locacão
                        <small><em>Os campos que contém (<b style="color: #F44336;">*</b>) são obrigatórios.</em></small>
                    </h2>
                </div>
                <div class="body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "error form-label" })
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Nome do cliente <small>* </small></label>
                                        <div class="form-line focused success">
                                            @Html.TextBoxFor(c => c.Cliente.Nome, new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Cliente.Nome, "", new { @class = "error" })
                                    </div>
                                    <div class="row">
                                        <div class='col-md-4'>
                                            <div class="form-group">
                                                <label class="form-label">Data da Locação <small>* </small></label>
                                                <div class='input-group date form-line focused success' id='datetimepicker1'>
                                                    @Html.TextBoxFor(c => c.DataLocacao, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(c => c.DataLocacao, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Data da Entrega <small>* </small></label>
                                                <div class='input-group date form-line focused success' id='datetimepicker2'>
                                                    @Html.TextBoxFor(c => c.DataEntrega, new { @class = "form-control" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(c => c.DataEntrega, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Juros por dia</label>
                                            <div class="input-group">
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.JurosPorDia, new { @class = "mask-juros form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.JurosPorDia, "", new { @class = "error" })
                                                <span class="input-group-addon">
                                                    <span>%</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">CEP</label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Cep, new { @class = "form-control mask-cep" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Cep, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Endereço <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Endereco, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Endereco, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Número <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Numero, new { @class = "form-control mask-numero" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Numero, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Bairro <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Bairro, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Bairro, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Complemento</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Complemento, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Complemento, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group text-right">
                                        <br /><br />
                                        <a href="@Url.Action("Index","Locacao")" class="btn btn-default">Voltar</a>
                                        <input class="btn btn-primary" type="submit" value="Salvar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Styles.Render("~/Content/cssLoca")
    @Scripts.Render("~/Scripts/jsLoca")
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">
        jQuery(function ($) {
            $("#Cep").change(function () {
                var cep_code = $(this).val();
                if (cep_code.length <= 0) return;
                $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
                   function (result) {
                       if (result.status != 1) {
                           alert(result.message || "Houve um erro desconhecido");
                           return;
                       }
                       $("#Cep").val(result.code);
                       $("#Bairro").val(result.district);
                       $("#Endereco").val(result.address);
                   });
            });
        });
                
        $('.mask-cpf').mask('000.000.000-00');
        $('.mask-telefone').mask('(00) 0 0000-0000');
        $('.mask-juros').mask('00');
        $('.mask-cep').mask('00000-000');
        $('.mask-numero').mask('0000');
    </script>

    <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({ format: 'DD/MM/YYYY', });
        $('#datetimepicker2').datetimepicker({
            format: 'DD/MM/YYYY',            
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });    
</script>

}


