﻿@using PagedList.Mvc;
@model PagedList.IPagedList<LocacaoOnline.Dominio.Entidades.Locacao>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="block-header">
        <h2>Index</h2>
    </div>
    <!-- Bordered Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <p class="font-bold col-cyan">
                        <a href="@Url.Action("Cacambas","Locacao")"><span class="fa fa-plus"></span> Inserir novo</a>
                    </p>
                </div>

                <div class="body">
                    <div class="">
                        <div class="col-md-6">
                            <!--Mensagens de alerta-->
                            @if (TempData["mensagem"] != null)
                            {
                                <div class="alert alert-info alert-raised alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p class=""><span class="fa fa-bullhorn"></span>&nbsp;&nbsp;@TempData["mensagem"]</p>
                                </div>
                            }
                        </div>
                        <div class="col-md-6">
                            @using (Html.BeginForm("Index", "Locacao", FormMethod.Get))
                            {
                                <div class="input-group input-group">
                                    <div class="form-line">
                                        @Html.TextBox("pesquisar", null, new { @class = "form-control", placeholder = "Pesquisar ...." })
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default btn-circle waves-effect waves-circle waves-float" type="submit"><span class="fa fa-search"></span></button>
                                    </span>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="table table-responsive" style="min-height:500px">
                        <br /><br />
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp col-md-12 table-bordered">
                            <tr>
                                <th>
                                    <span class="fa fa-flag"></span> Status
                                </th>
                                <th>
                                    <span class="fa fa-calendar"></span> Emissão
                                </th>
                                <th>
                                    <span class="fa fa-calendar"></span> Entrega
                                </th>
                                <th>
                                    <span class="fa fa-user"></span> Cliente
                                </th>
                                <th>
                                    <span class="fa fa-map-marker"></span> Endereço de entrega
                                </th>
                                <th class="text-center">
                                    <span class="fa fa-gear"></span> Ações
                                </th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.LocacaoId">
                                    <td>
                                        @if (item.StatusLocacao.ToString() == "Vencida")
                                        {
                                            <label class="label label-danger">
                                                @item.StatusLocacao.ToString()
                                            </label>
                                        }
                                        @if(item.StatusLocacao.ToString() == "EmAndamento")
                                        {
                                            <label class="label label-primary">
                                                Em Andamento                                                
                                            </label>
                                        }                                       
                                    </td>
                                    <td>@item.DataLocacao.ToShortDateString()</td>
                                    <td>@item.DataEntrega.ToShortDateString()</td>
                                    <td>@item.Cliente.Nome</td>
                                    <td>@item.Endereco, @item.Numero</td>
                                    <td class="text-center">
                                        <div class="input-group right">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-gear"></span> <span class="icon-arrow-down icons"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    @Html.ActionLink("Detalhes ", "Detalhes", new { id = @item.LocacaoId })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Editar Locação ", "EditarLocacao", new { id = @item.LocacaoId })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Cancelamento ", "Cancelamento", new { id = @item.LocacaoId })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Recebimento ", "Recebimento", new { id = @item.LocacaoId })
                                                </li>                                                
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                        <div class="text-center">
                            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- #END# Bordered Table -->
</div>

@Scripts.Render("~/Scripts/google")
@Styles.Render("~/Content/google")



