﻿@model LocacaoOnline.Web.ViewModel.CarrinhoViewModel
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="block-header">
        <h2>Item</h2>
    </div>
    <!-- Bordered Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <p class="font-bold col-cyan text-center">
                        <div class="col-md-3">
                            <a href="@Url.Action("Cacambas","Locacao",@Model.ReturnUrl)"><span class="fa fa-plus"></span> Adicionar mais caçamba</a>
                        </div>
                        <div class="col-md-3">
                            <a href="@Url.Action("ConcluirLocacao","Locacao",@Model.ReturnUrl)"><span class="fa fa-check-square"></span> Concluir locação</a>
                        </div>
                    </p>
                </div>

                <div class="body">
                    <div class="">
                        <div class="col-md-6">
                            <!--Mensagens de alerta-->
                            @if (TempData["mensagemCadastrar"] != null)
                            {
                                <div class="alert alert-success alert-raised alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p class=""><span class="fa fa-check"></span>&nbsp;&nbsp; Registro <strong>"@TempData["mensagemCadastrar"]"</strong> foi cadastrado com sucesso !!</p>
                                </div>
                            }

                            @if (TempData["mensagemEditar"] != null)
                            {
                                <div class="alert alert-info alert-raised alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <p class="t"><span class="fa fa-edit"></span>&nbsp;&nbsp; Registro <strong>"@TempData["mensagemEditar"]"</strong> foi alterado com sucesso !!</p>
                                </div>

                            }
                            <br />
                            <div class="form-group">
                                <div id="divexcluir"></div>
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="table table-responsive">
                    <table class="table table-hover table-responsive">
                        <tr>
                            <th></th>
                            <th class="text-left">Caçamba</th>
                            <th class="text-center">Quantidade</th>
                            <th class="text-left">Preço</th>
                            <th class="text-left">Subtotal</th>
                            <th class="text-center">Ação</th>
                        </tr>
                        <tbody>
                            @foreach (var item in Model.Carrinho.ItensCarrinho)
                            {
                                <tr>
                                    <td></td>
                                    <td class="text-left">@item.Cacamba.Nome</td>
                                    <td class="text-center">@item.Quantidade</td>
                                    <td class="text-left">@item.Cacamba.Preco.ToString("c")</td>
                                    <td class="text-left">@((item.Quantidade * item.Cacamba.Preco).ToString("c"))</td>
                                    <td class="text-center">
                                        @using (Html.BeginForm("RemoverItem", "Locacao"))
                                        {
                                            @Html.Hidden("CacambaId", item.Cacamba.CacambaId)
                                            @Html.HiddenFor(x => x.ReturnUrl)
                                            <button type="submit" class="btn btn-danger btn-circle waves-effect waves-circle waves-float" value="Remover">
                                                <i class="fa fa-remove"></i>
                                            </button>

                                        }
                                    </td>
                                </tr>
                            }
                        <tfoot>
                            <tr class="active">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-left"><b>Total:</b></td>
                                <td class="text-left">
                                    <b class="font-bold col-pink">@Model.Carrinho.ObterValorTotal().ToString("c")</b>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>

