﻿@model LocacaoOnline.Web.ViewModel.RecebimentoViewModel
@{    
    ViewBag.Title = "Relatório";
    Layout = null;
}
<title>@ViewBag.Title</title>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<style>
    body {
        font-size: 12px;
        font-family: 'Courier New';        
    }
    h5,b,p,label,small{
        color:#000000;
    }
</style>

<br />

<body style="background-color:#fff; color:#000000">
    <div class="col-md-5 col-lg-offset-4">
        <div class="card">
            <div class="header text-center">
                <h5 class="text-center">RAZÃO SOCIAL DA EMPRESA</h5>
                <b>CNPJ:00.000.000.000/00-91 IE:000000</b><br />
                <b>Endereço:7 de Setembro, Nº:1983, Bairro: São Cristovão Porto Velho - RO</b>
            </div>
            <div class="body">
                <p class="text-center">
                    DANFE NFC-e Documento Auxiliar da Nota Fiscal Eletronica p/ o <br />
                    Consumidor Final - Via Estabelecimento <br />
                    NFC-e EMITIDA EM AMBIENTE DE TESTE - SEM VALOR FISCAL<br />
                    Emitido em: @DateTime.Now
                </p>
                <hr />
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nome:</label>
                            <small>@ViewBag.Locacao.Cliente.Nome</small>
                        </div>
                        <div class="col-md-6">
                            <label>Status:</label>
                            <small>@ViewBag.Locacao.StatusLocacao</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Data da locação:</label>
                            <small>@ViewBag.Locacao.DataLocacao.ToShortDateString()</small>
                            <br />
                            <label>Data da entrega marcada:</label>
                            <small>@ViewBag.Locacao.DataEntrega.ToShortDateString()</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Data da entrega recebida:</label>
                            <small>@ViewBag.Recebimento.DataCadastro</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Endereço da locação:</label>
                            <small>@ViewBag.Locacao.Endereco</small>
                        </div>
                        <div class="col-md-12">
                            <label>CEP:</label>
                            <small>@ViewBag.Locacao.Cep</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Bairro:</label>
                            <small>@ViewBag.Locacao.Bairro</small>
                        </div>
                        <div class="col-md-6">
                            <label>Nº:</label>
                            <small>@ViewBag.Locacao.Numero</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Complemento:</label>
                            <small>@ViewBag.Locacao.Complemento</small>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                <small>Caçamba</small>
                            </th>
                            <th>
                                <small>Quantidade</small>
                            </th>
                            <th>
                                <small>Preço</small>
                            </th>
                        </tr>
                        @foreach (var item in ViewBag.Locacao.Item)
                        {
                            <tr>
                                <td>
                                    <small>@item.Cacamba.Nome</small>

                                </td>
                                <td>
                                    <small>@item.Quantidade</small>
                                </td>
                                <td>
                                    <small>@item.Cacamba.Preco.ToString("c")</small>
                                </td>
                            </tr>

                        }
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-left">
                                    <small>
                                        <b>Valor Pago:</b>
                                    </small>
                                </td>
                                <td class="text-left">
                                    @ViewBag.Recebimento.ValorTotal
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="text-left">
                                    <small>
                                        <b>Forma Pag.:</b>
                                    </small>
                                </td>
                                <td class="text-left">
                                    Dinheiro teste
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

                <hr />
            </div>
        </div>
    </div>
</body>
