﻿@model LocacaoOnline.Dominio.Models.Carrinho

<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <i class="fa fa-shopping-cart fa-2x"></i>
        @if (Model.ItensCarrinho.Sum(x => x.Quantidade) != 0)
        {
            <span class="label-count">
                @Model.ItensCarrinho.Sum(x => x.Quantidade)
            </span>
        }
    </a>
    <ul class="dropdown-menu">
        <li class="header">Item(s) adicionados</li>
        <li class="body">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; ">
                <ul class="menu" style="overflow: hidden; width: auto; ">

                    @foreach (var item in Model.ItensCarrinho)
                    {
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block">
                                <div class="icon-circle bg-light-blue">
                                    <i class="fa fa-cart-plus"></i>
                                </div>
                                <div class="menu-info">
                                    <h4>@item.Cacamba.Nome</h4>
                                    <p>
                                        @item.Cacamba.Preco.ToString("c")
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block">
                            <div class="icon-circle btn-success">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="menu-info">
                                <p class="font-bold col-cyan">
                                    @Model.ItensCarrinho.Sum(x => x.Quantidade) item(s), Preço Total: @Model.ObterValorTotal().ToString("c")
                                </p>
                            </div>
                        </a>
                    </li>
                </ul><div class="slimScrollBar" style="width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 181.225px; background: rgba(0, 0, 0, 0.498039);"></div><div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
            </div>
        </li>
        <li class="footer">
            @Html.ActionLink("Ver Item(s)", "Item", "Locacao", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "waves-effect waves-block" })
        </li>
    </ul>
</li>
