﻿@model List<LocacaoOnline.Web.Models.Customer>

@{
    ViewBag.Title = "PDF Title";
    
}

<h2>Convert to  PDF</h2>

<table class="table table-bordered">
    <tr>
        <td class="alert-success">First Name</td>
        <td class="alert-info">Last name</td>
        <td style="background-color: yellow;">Profile Image</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName <span class="fa fa-home"></span></td>

            <td>@item.LastName</td>
            <td>@item.ProfileImage</td>
        </tr>
    }

</table>

@Html.ActionLink("Print", "Print", "Home")