﻿@{
    ViewBag.Title = "Home Page";
}

    
<h3>Bem Vindo !</h3>

<div class="col-md-3">
    <div class="info-box bg-pink hover-expand-effect">
        <div class="icon">
            <i class="fa fa-address-book fa-2x"></i>
        </div>
        <div class="content">
            <div class="text">CLIENTES</div>
            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">@ViewBag.TotalClientes</div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="info-box bg-cyan hover-expand-effect">
        <div class="icon">
            <i class="fa fa-archive fa-2x"></i>
        </div>
        <div class="content">
            <div class="text">CAÇAMBAS</div>
            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">@ViewBag.TotalCacambas</div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="info-box bg-light-green hover-expand-effect">
        <div class="icon">
            <i class="fa fa-industry fa-2x"></i>
        </div>
        <div class="content">
            <div class="text">LOCAÇÕES</div>
            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20">@ViewBag.TotalLocacao</div>
        </div>
    </div>
</div>