﻿@model LocacaoOnline.Web.ViewModel.FuncionarioViewModel
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Cadastrar", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Cadastrar
                        <small><em>Os campos que contém (<b style="color: #F44336;">*</b>) são obrigatórios.</em></small>
                    </h2>
                </div>
                <div class="body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "error form-label" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Nome</label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Nome, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Nível de Acesso</label>
                                                @Html.EnumDropDownListFor(m => m.NivelAcesso, "Selecione ...", new { @class = "btn-group bootstrap-select form-control show-tick" })
                                                @Html.ValidationMessageFor(model => model.NivelAcesso, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">CPF <small>* </small></label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Cpf, new { @class = "form-control mask-cpf" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Cpf, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Telefone <small>* </small></label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Telefone, new { @class = "form-control mask-telefone" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Telefone, "", new { @class = "error" })
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Email <small>* </small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Email, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-label">Senha <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.PasswordFor(c => c.Senha, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Senha, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="form-label">Repetir Senh.</label>
                                                <div class="form-line">
                                                    @Html.PasswordFor(c => c.ConfirmaSenha, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.ConfirmaSenha, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">CEP</label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Cep, new { @class = "form-control mask-cep" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Cep, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Endereço <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Endereco, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Endereco, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Número <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Numero, new { @class = "form-control mask-numero" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Numero, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Bairro <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Bairro, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Bairro, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Complemento</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Complemento, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Complemento, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group text-right">
                                        <br /><br />
                                        <a href="@Url.Action("Index","Funcionario")" class="btn btn-default">Voltar</a>
                                        <input class="btn btn-primary" type="submit" value="Salvar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(function ($) {
            $("#Cep").change(function () {
                var cep_code = $(this).val();
                if (cep_code.length <= 0) return;
                $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
                   function (result) {
                       if (result.status != 1) {
                           alert(result.message || "Houve um erro desconhecido");
                           return;
                       }
                       $("#Cep").val(result.code);
                       $("#Bairro").val(result.district);
                       $("#Endereco").val(result.address);
                   });
            });
        });

        $('.mask-cpf').mask('000.000.000-00');
        $('.mask-telefone').mask('(00) 0 0000-0000');
        $('.mask-cep').mask('00000-000');
        $('.mask-numero').mask('0000');
    </script>
}





