﻿@model LocacaoOnline.Web.ViewModel.FuncionarioViewModel
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Detalhes
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6 col-md-offset-3">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Data de Cadastro
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataCadastro)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>

                                <dt>
                                    Nivel Acesso
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.NivelAcesso)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Cpf)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Cpf)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Senha)
                                </dt>
                                <dd>
                                    ****************
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Telefone)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Telefone)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Cep)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Cep)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Endereco)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Endereco)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Bairro)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Bairro)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Numero)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Numero)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Complemento)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Complemento)
                                </dd>
                            </dl>
                            <div class="form-actions no-color col-md-offset-4">
                                @Html.ActionLink("Voltar", "Index", "Funcionario", new { @class = "btn btn-defualt" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

