﻿@using PagedList.Mvc;
@model PagedList.IPagedList<LocacaoOnline.Web.ViewModel.FuncionarioViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="block-header">
        <h2>Index</h2>
    </div>
    <!-- Bordered Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <p class="font-bold col-cyan">
                        <a href="@Url.Action("Cadastrar","Funcionario")"><span class="fa fa-plus"></span> Cadastrar uma novo funcionário</a>
                    </p>
                </div>

                <div class="body">
                    <div class="">
                        <div class="col-md-6">
                            <!--Mensagens de alerta-->
                            @if (TempData["mensagem"] != null)
                            {
                                <div class="alert alert-info alert-raised alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p class=""><span class="fa fa-bullhorn"></span>&nbsp;&nbsp;@TempData["mensagem"]</p>
                                </div>
                            }
                            <!--Fim Mensagens de alterta-->
                        </div>
                        <div class="col-md-6">
                            @using (Html.BeginForm("Index", "Funcionario", FormMethod.Get))
                            {
                                <div class="input-group input-group">
                                    <div class="form-line">
                                        @Html.TextBox("pesquisar", null, new { @class = "form-control", placeholder = "Pesquisar ...." })
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default btn-circle waves-effect waves-circle waves-float" type="submit"><span class="fa fa-search"></span></button>
                                    </span>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="table table-responsive" style="min-height:500px">
                        <br /><br />
                        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp col-md-12">
                            <tr>
                                <th>
                                    Data / Hora
                                </th>
                                <th>
                                    Nome
                                </th>
                                <th>Telefone</th>
                                <th>Nível Acesso</th>
                                <th class="text-center">Ações</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr id="row-@item.FuncionarioId">
                                    <td>@item.DataCadastro &nbsp;&nbsp;</td>
                                    <td>@item.Nome &nbsp;&nbsp;</td>
                                    <td>@item.Telefone &nbsp;&nbsp;</td>
                                    <td>@item.NivelAcesso &nbsp;</td>
                                    <td class="text-center">
                                        <div class="input-group right">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ação <span class="icon-arrow-down icons"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    @Html.ActionLink("Detalhes ", "Detalhes", new { id = @item.FuncionarioId })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Editar ", "Editar", new { id = @item.FuncionarioId })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Deletar ", "Delete", new { id = @item.FuncionarioId })
                                                </li>                                                
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </table>
                        <div class="text-center">
                            Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- #END# Bordered Table -->
</div>

@Scripts.Render("~/Scripts/google")
@Styles.Render("~/Content/google")


