﻿@model LocacaoOnline.Web.ViewModel.AlterarSenha
@{
    ViewBag.Title = "TrocarSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("TrocarSenha", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.FuncionarioId)

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Trocar senha
                        <small><em>Os campos que contém (<b style="color: #F44336;">*</b>) são obrigatórios.</em></small>
                    </h2>
                </div>
                <div class="body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-5 col-md-offset-3">
                                <div class="form-group form-float">
                                    @Html.ValidationSummary(true, "", new { @class = "error form-label" })
                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Senha Nova <small>* </small></label>
                                    <div class="form-line">
                                        @Html.PasswordFor(c => c.Senha, new { @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(c => c.Senha, "", new { @class = "error" })
                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Confirma nova senha <small>* </small></label>
                                    <div class="form-line">
                                        @Html.PasswordFor(c => c.ConfirmaSenha, new { @class = "form-control " })
                                    </div>
                                    @Html.ValidationMessageFor(c => c.ConfirmaSenha, "", new { @class = "error" })

                                </div>                                
                                <div class="form-group form-float">
                                    <a href="@Url.Action("Index","Funcionario")" class="btn btn-default">Voltar</a>
                                    <input class="btn btn-primary" type="submit" value="Salvar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


