﻿@model LocacaoOnline.Web.ViewModel.CacambaViewModel
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Excluir
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6 col-md-offset-3">
                        <div>
                            <h4 class="text-center">Deseja realmente excluir esse registro ?</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Data de Cadastro
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.DataCadastro)
                                </dd>
                                <dt>
                                    Nome
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt>
                                    Preço
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Preco)
                                </dd>
                                <dt>
                                    Descrição
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>
                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color text-center">
                                    <input type="submit" value="Excluir" class="btn btn-danger" /> |
                                    @Html.ActionLink("Voltar", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


