﻿@model LocacaoOnline.Web.ViewModel.CacambaViewModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Editar", "Cacamba", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CacambaId)
    @Html.HiddenFor(model => model.StatusCacamba)

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Editar
                        <small><em>Os campos que contém (<b style="color: #F44336;">*</b>) são obrigatórios.</em></small>
                    </h2>
                </div>
                <div class="body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-5 col-md-offset-3">
                                <div class="form-group form-float">
                                    @Html.ValidationSummary(true, "", new { @class = "error form-label" })
                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Nome <small>* </small></label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
                                    </div>
                                    @Html.ValidationMessageFor(c => c.Nome, "", new { @class = "error" })
                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Preço <small>* </small></label>
                                    <div class="form-line">
                                        @Html.TextBoxFor(c => c.Preco, new { @class = "form-control preco" })
                                    </div>
                                    @Html.ValidationMessageFor(c => c.Preco, "", new { @class = "error" })

                                </div>
                                <div class="form-group form-float">
                                    <label class="form-label">Descrição </label>
                                    <div class="form-line">
                                        @Html.TextAreaFor(c => c.Descricao, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <a href="@Url.Action("Index","Cacamba")" class="btn btn-default">Voltar</a>
                                    <input class="btn btn-primary" type="submit" value="Salvar" />
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $(".preco").maskMoney({
                symbol: 'R$ ',
                showSymbol: true, thousands: '.', decimal: ',', symbolStay: true
            });
        })
    </script>
}






