﻿@model LocacaoOnline.Dominio.Entidades.Cacamba
@{
    ViewBag.Title = "Imprimir";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<body style="background-color:#fff;">
    <div class="col-md-4 col-lg-offset-3">
        <div class="card">
            <div class="header text-center">
                <h3 class="text-center">RAZÃO SOCIAL DA EMPRESA</h3>
                <h2>CNPJ:00.000.000.000/00-91 IE:000000</h2>
                <h2>Endereço:7 de Setembro, Nº:1983, Bairro: São Cristovão Porto Velho - RO</h2>                
                
            </div>
            <div class="body text-center">
                <p>
                    DANFE NFC-e Documento Auxiliar da Nota Fiscal Eletronica para o <br />
                    Consumidor Final - Via Estabelecimento <br />
                    NFC-e EMITIDA EM AMBIENTE DE TESTE - SEM VALOR FISCAL<br />
                    Data/Hora: @DateTime.Now
                </p>                                
                <br />
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td>Código</td>
                            <td>Data do Cadastro</td>
                            <td>Nome</td>
                            <td>Descrição</td>
                            <td>Preço</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                @Model.CacambaId
                            </th>
                            <th>@Model.DataCadastro</th>
                            <th>
                                @Model.Nome
                            </th>
                            <th>
                               @Model.Descricao 
                            </th>
                            <th>
                                @Model.Preco
                            </th>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p>
                    Nº 00001234 Serie 1
                </p>
                <p>
                    Consulte pela Chave de Acesso em http://www.mte.am.gov.br
                </p>
                <p>
                    CHAVE DE ACESSO <br />
                    12312 34234234 3242 3545 4 534534512 1232
                </p>
                <hr />
                <p class="text-center">
                    CONSUMIDOR
                </p>
                <p>
                    CNPJ: 99.999.999.0001-91<br />
                    Nome: NF EMITIDA EM AMBIENTE DE HOMOLOGAÇÃO - SEM VALOR FISCAL <br />
                    Endereço: Rua do Patriocinio, 9831 Centro
                </p>                
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/Scripts/google")
@Styles.Render("~/Content/google")