﻿@model LocacaoOnline.Web.ViewModel.ClienteViewModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Editar", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClienteId)

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Editar
                        <small><em>Os campos que contém (<b style="color: #F44336;">*</b>) são obrigatórios.</em></small>
                    </h2>
                </div>
                <div class="body">
                    <div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.ValidationSummary(true, "", new { @class = "error form-label" })
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Nome <small>* </small></label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Nome, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Nome, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">CPF <small>* </small></label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Cpf, new { @class = "form-control mask-cpf" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Cpf, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Telefone <small>* </small></label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Telefone, new { @class = "form-control mask-telefone" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Telefone, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Email <small>* </small></label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Email, "", new { @class = "error" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">CEP</label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Cep, new { @class = "form-control mask-cep" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Cep, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Endereço <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Endereco, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Endereco, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Número <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Numero, new { @class = "form-control mask-numero" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Numero, "", new { @class = "error" })
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="form-label">Bairro <small>*</small></label>
                                                <div class="form-line">
                                                    @Html.TextBoxFor(c => c.Bairro, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(c => c.Bairro, "", new { @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Complemento</label>
                                        <div class="form-line">
                                            @Html.TextBoxFor(c => c.Complemento, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(c => c.Complemento, "", new { @class = "error" })
                                    </div>
                                    <div class="form-group text-right">
                                        <br /><br />
                                        <a href="@Url.Action("Index","Cliente")" class="btn btn-default">Voltar</a>
                                        <input class="btn btn-primary" type="submit" value="Salvar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        jQuery(function ($) {
            $("#Cep").change(function () {
                var cep_code = $(this).val();
                if (cep_code.length <= 0) return;
                $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
                   function (result) {
                       if (result.status != 1) {
                           alert(result.message || "Houve um erro desconhecido");
                           return;
                       }
                       $("#Cep").val(result.code);
                       $("#Bairro").val(result.district);
                       $("#Endereco").val(result.address);
                   });
            });
        });
        $('.mask-cpf').mask('000.000.000-00');
        $('.mask-telefone').mask('(00) 0 0000-0000');
        $('.mask-cep').mask('00000-000');
        $('.mask-numero').mask('0000');
    </script>

    <script>
        var CustomValidation = {};
        CustomValidation.Init = function () {
            //CustomValidationCPF
            $.validator.addMethod('customvalidationcpf', function (value, element, params) {
                var cpf = value.replace(/[^0-9]/gi, ''); //Remove tudo que não for número
                if (value.length == 0)
                    return true; //vazio
                if (cpf.length != 11 || cpf == "00000000000" || cpf == "11111111111" || cpf == "22222222222" || cpf == "33333333333" || cpf == "44444444444") // || cpf == "55555555555" || cpf == "66666666666" || cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999")
                    return false;

                add = 0;
                for (i = 0; i < 9; i++)
                    add += parseInt(cpf.charAt(i)) * (10 - i);
                rev = 11 - (add % 11);
                if (rev == 10 || rev == 11)
                    rev = 0;
                if (rev != parseInt(cpf.charAt(9)))
                    return false;
                add = 0;
                for (i = 0; i < 10; i++)
                    add += parseInt(cpf.charAt(i)) * (11 - i);
                rev = 11 - (add % 11);
                if (rev == 10 || rev == 11)
                    rev = 0;
                if (rev != parseInt(cpf.charAt(10)))
                    return false;
                return true; //cpf válido
            }, '');
            $.validator.unobtrusive.adapters.add('customvalidationcpf', {}, function (options) {
                options.rules['customvalidationcpf'] = true;
                options.messages['customvalidationcpf'] = options.message;
            });
        }
        //executa -- importante que isso seja feito antes do document.ready
        CustomValidation.Init();

    </script>
}


